{
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
