name: Build

on:
  pull_request: 
    branches:
      - '**' 
  push: 
    branches:
      - master

env:
  PUBLIC_SUPABASE_URL: "https://fake_test_url.supabase.co"
  PUBLIC_SUPABASE_ANON_KEY: "fake_anon_key"
  PRIVATE_SUPABASE_SERVICE_ROLE: "fake_service_role"
  PRIVATE_STRIPE_API_KEY: "fake_strip_api_key"
  PUBLIC_SUPABASE_STORAGE_URL: "fake_storage_url"
  CF_IMAGE_RESIZE_URL: "fake_resize_url"
  ENVIRONMENT: "fake_frontend_url"

jobs:
  build_and_test:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: NPM install
        run: npm install

      - name: SvelteKit Build
        run: npm run build
