name: Deploy Migrations to Production

on:
  workflow_run:
    workflows: ["Test Prod", "Build", "CI"]
    types:
      - completed 

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: |
      (github.event.workflow_run.conclusion == 'success') &&
      (
        # Conditions for push to master
        (github.event.workflow_run.head_branch == 'master' && 
         github.event.workflow_run.event == 'push' &&
         github.event.workflow_run.name in ['Build', 'CI'])
        ||
        # Conditions for pull request to master
        (github.event.workflow_run.head_branch == 'master' && 
         github.event.workflow_run.event == 'pull_request' &&
         github.event.workflow_run.name in ['Test Prod', 'Build', 'CI'])
      )

    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
      SUPABASE_DB_PASSWORD: ${{ secrets.PROD_DB_PASSWORD }}
      SUPABASE_PROJECT_ID: ${{ secrets.PROD_PROJECT_ID }}

    steps:
      - uses: actions/checkout@v3

      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - run: supabase link --project-ref $SUPABASE_PROJECT_ID
      - run: supabase db push

